backports.weakref==1.0rc1
bleach==1.5.0
cycler==0.10.0
html5lib==0.9999999
Markdown==2.6.8
matplotlib==2.0.2
nltk==3.2.4
numpy==1.22.0rc1
pandas==0.20.3
protobuf==3.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
SQLAlchemy==1.1.11
tensorflow==1.2.1
Werkzeug==0.12.2
lxml==4.0.0
